@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
}
.container {
    margin: 100px;
    max-width: 1440px;
   }


.feedback {
    display: flex;  
}
.info {
width: 100%;
flex: 50%;
padding-right: 300px;
margin-left: 50px;
}

.info h1 {
    font-size: 3em;
    font-weight: 700;
    color: hsl(300, 43%, 22%); 
  
}

.info p {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    margin-top: 30px;
    margin-bottom: 80px;
    line-height: 1.5;
   
}
.rating {
    display: flex;
    flex: 50%;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;  
    width: 442px; 
    border-radius: 10px;    
}
.rating p {
    padding-top: 5px;
    margin-left: 15px;
}


.rating img {
    padding-bottom: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.first {
 
    margin-bottom: 20px;
    margin-right: 35px; 
}

.second {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
}
.third {
    margin-left: 60px;
}

.users {
    display: flex;
}

.users div {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 25px;
    width: 100%;
}
.card-header {
    display: flex;
}

.card-header img {
    width: 30%;
    border-radius: 50%;
}
.card-header p {
    margin-top: 5px;
    color: hsl(333, 80%, 67%);
}
.quote-text {
    margin-top: 15px;
    line-height: 1.5;
}
.smith {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
}

.robert {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.wallace {
    margin-top: 20px;
    
}

@media screen and (max-width: 375px) {

    body {
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
    }
    .feedback {
        display: flex;
        flex-direction: column;
    }

    .users {
        display: flex;
        flex-direction: column;
    }
    .smith {
        margin-bottom: 20px;
    }
    .wallace {
        margin-bottom: 20px;
    }
}

.attribution {
    font-size: 15px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }